body {
	background-color: rgba(0, 0, 0, .05);
	z-index: 0;
	margin: 0;
	z-index: 0;
}

ul.sidenav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 10%;
	background-color: #774a13;
	position: fixed;
	height: 100%;
	overflow: auto;
	z-index: 2;
}

ul.sidenav li a {
	display: block;
	color: white;
	padding: 8px 16px;
	text-decoration: none;
	font-family: "Lucida Console", Monaco, monospace;
}

ul.sidenav li a.active {
	background-color: #482200;
	color: white;
}

ul.sidenav li a:hover:not(.active) {
	background-color: #482200;
	color: white;
}

div.content {
	margin-left: 10%;
	padding: 1px 16px;
	height: 1000px;
}

h1{
	font-family: "Lucida Console", Monaco, monospace;
}

p {
	font-family: "Lucida Console", Monaco, monospace;
}

@media screen and (max-width: 900px) {
	ul.sidenav {
		width: 100%;
		height: auto;
		position: relative;
	}
	ul.sidenav li a {
		float: left;
		padding: 15px;
	}
	div.content{margin-left: 0;}
}

@media screen and (max-width: 400px) {
	ul.sidenav li a {
		text-align: center;
		float: none;
	}
}

@font-face {
	font-family: waterfall; src: url('Waterfall.otf');
}
